# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

**/logs/

.settings
bin
.project*
.classpath
.idea/